 @import url("../css/animate.min.css");/*页面动画*/
html {
	overflow-x: hidden;
}

@font-face {
	font-family: 'din';
	src: url('../fonts/DIN-Bold.eot');
	src: url('../fonts/DIN-Bold.eot') format('embedded-opentype'), 
		 url('../fonts/DIN-Bold.woff2') format('woff2'), 
		 url('../fonts/DIN-Bold.woff') format('woff'), 
		 url('../fonts/DIN-Bold.ttf') format('truetype'), 
		 url('../fonts/DIN-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a:link {
	color: #333;
	text-decoration: none;
}
a:visited {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #00a2eb;
	text-decoration: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
a:active {
	color: #333;
	text-decoration: none;
}
img{
	max-width: 100%;
}
 body,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,legend,li,ol,p,ul {
 margin:0;
 padding:0
}
h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight:400
}
fieldset,
img {
 border:none
}
img {
 display:inline-block;
 vertical-align:middle
}
address,
caption,
cite,
code,
dfn,
th,
var {
 font-style:normal;
 font-weight:400
}
ol,
ul {
 list-style:none
}
input {
 padding-top:0;
 padding-bottom:0;
 font-family:"PingFang SC","Microsoft YaHei";
}
input::-moz-focus-inner {
 border:none;
 padding:0
}
input,
select {
 vertical-align:middle
}
input,
select,
textarea {
 font-size:12px;
 margin:0;
 font-family:"PingFang SC","Microsoft YaHei";
}
input[type=password],
input[type=text],
textarea {
 outline-style:none;
 -webkit-appearance:none
}
textarea {
 resize:none
}
input,
textarea {
 background:0 0;
 border:none;
 font-family:"PingFang SC","Microsoft YaHei","din";
}
table {
 border-collapse:collapse
}
body {
 color:#333;
 font-family: "PingFang SC","Microsoft YaHei", "din",Arial, Helvetica, sans-serif;
 background:#fff
}
em,
i,
s {
 font-style:normal
}



/*以下内页css*/














